*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-hero{
  min-height: 100vh;
  color: #fff;
}

.page-hero{
  background-image: url('http://digitalimagemakerworld.com/images/tumblr-wallpaper/37052628-tumblr-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #11415e67;
}

.page-title{
  font-size: 54px;
}

.page-subtitle{
  font-weight: normal;
}

.mb{
  margin-bottom: 12px;
}